.wrapper {
	position: relative;
	max-width: 549px;
	width: 100%;
}

.inputPassword {
	padding-right: 100px;
}

.btnDel {
	right: 71px;
}

.button {
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
}
