body {
	background-color: #262451;
	background: url("../public/bg.jpg") no-repeat center center fixed;
	color: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	box-sizing: inherit;
}
