.h1 {
	font-weight: 600;
	font-size: 16px;
	line-height: 19.5px;
}

.h2 {
	font-weight: 500;
	font-size: 14px;
	line-height: 17.07px;
}

.h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 24.38px;
}

.text1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 20.56px;
}
