.shared {
	position: relative;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-shadow: 1px 1px 6px rgba(2, 2, 2, 0.6), inset 4px 4px 4px rgba(255, 255, 255, 0.3);
	border: none;
	padding: 10px 24px;
	cursor: pointer;
	border-image: 1;
	background-image: linear-gradient(94.4deg, #be4dff 1.12%, #6d7de4 100%);
}

.shared::before {
	position: absolute;
	z-index: 1;
	padding: 1px;

	background-image: linear-gradient(
		100.32deg,
		rgba(213, 92, 255, 0.31) 3.87%,
		rgba(102, 108, 255, 0.205) 97.11%
	);
	border-radius: inherit;
	content: "";
	inset: 0;
	mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#ffffff 0 0);
	mask-composite: destination-out;
	mask-composite: exclude;
}
